<ng-container *ngIf="ad">
  <div class="ad-container">
    <img
      *ngIf="ad.images"
      class="ad-image"
      [src]="ad.images[0]"
      alt="Zdjęcie ogłoszenia"
      (click)="onImageClick()"
    />
    <h1 class="ad-title">{{ ad.title }}</h1>
    <p>{{ ad.description }}</p>
    <p class="tags">
      <strong>Tagi:</strong>
      <span *ngFor="let tag of ad.tags">#{{ tag }} </span>
    </p>
    <p *ngIf="ad.showEmail">
      <!-- @TODO: Change to user.email -->
      <strong>Email kontaktowy:</strong> user&#64;example.com
    </p>
    <p *ngIf="ad.showPhone">
      <!-- @TODO: Change to user.phone -->
      <strong>Telefon kontaktowy:</strong> 123-456-789
    </p>
    <div class="button-group">
      <button
        *ngIf="isMyAd(); else notMine"
        class="btn"
        [disabled]="!isMyAd()"
        (click)="onEditAd()"
      >
        Edytuj ogłoszenie
      </button>

      <button
        *ngIf="isMyAd()"
        class="btn btn-secondary"
        [disabled]="!isMyAd()"
        (click)="onToggleAdStatus()"
      >
        {{ isPublished() ? "Dodaj do wersji roboczych" : "Opublikuj" }}
      </button>

      <button
        *ngIf="isMyAd()"
        class="btn btn-danger"
        [disabled]="!isMyAd()"
        (click)="onDeleteAd()"
      >
        Usuń ogłoszenie
      </button>

      <ng-template #notMine>
        <button
          class="btn btn-primary"
          [disabled]="!isPublished()"
          (click)="onSendMessage()"
        >
          Wyślij wiadomość
        </button>
      </ng-template>
    </div>
  </div>
</ng-container>
