.ad-container {
  width: 100%;
  max-width: 720px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 16px;
}

.ad-image {
  max-height: 400px;
  object-fit: cover;
  width: 100%;
  cursor: pointer;
  border-radius: 8px;
}

.ad-title {
  font-size: 1.8rem;
  font-weight: bold;
}

.tags {
  text-align: right;
  font-size: 0.85rem;
  color: #777;

  span {
    margin-left: 8px;
  }
}
