.dialog-container {
  width: 900px;
  padding: 20px;
}

mat-dialog-content {
  max-height: 70vh;
  overflow-y: auto;
}

::ng-deep .dialog-container mat-dialog-content app-ad-detail .ad-image {
  // @FIXME: sizing
}
